<!DOCTYPE html>
<html>

<head>

<title>Add Student</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

<div class="card">

<h2>Add Student</h2>

<input id="student_id" class="form-control" placeholder="Student ID"><br>

<input id="full_name" class="form-control" placeholder="Full Name"><br>

<input id="program" class="form-control" placeholder="Program"><br>

<input id="department" class="form-control" placeholder="Department"><br>

<input id="cgpa" class="form-control" placeholder="CGPA"><br>

<button class="btn">

Save Student

</button>

</div>

</div>

</body>

</html>
